#centered_small_icon{
    background-color: blue;
    width: 250px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

#green_line{
    background-color: green;
    width: 250px;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

#full_width_icon{
    background-color: red;
    width: 250px;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#repeated_icon{
    background-color: purple;
    width: 250px;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-size: 20px;
    background-repeat: repeat;
}
