#figure1{
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

#figure2{
    border: 4px solid black;
    padding: 15px;
}

#figure3{
    border: 1px solid red;
    margin: 15px;
}

#figure4{
    border: 2px solid cadetblue;
    border-radius: 10px;
    width: 50%;
    height: 100px;
    padding: 5px;
}

#figure5{
    border: 1px solid black;
    padding-left: 50px;
}

#figure6{
    border: 1px solid black;
    margin-left: 50px;
}

#figure7{
    border: 4px solid lightblue;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}
