nav{
    background-color: lightblue;
    margin: 10px;
    display: flex;
}

main{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    padding: 10px;
}

#first{
    justify-content: space-between;
}

#second{
    flex-direction: column-reverse;
}

#third{
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#forth{
}

#forth .b3{
    order: -1;
}

#forth .button{
    background-color: lightgreen;
    display: flex;
    margin: 10px;
    flex-grow: 1;
}

#forth .b2{
    flex-grow: 2;
}

