header{
    background-color: black;
    padding: 70px;
}
h1 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

div{
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    color: white;
    margin: auto;
    display: flex;
}

p{
    display: flex;
    justify-content: center;
}

.galery{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px){
    .galery{
        padding-left: 400px;
        padding-right: 400px;
        display: flex;
    }
}

body{
    margin: 0px;
}
