body{
    background-color: deepskyblue;
}

#clouds{
    height: 73px;
    background-image: url("../imagenes/clouds.png");
}

#mario{
    position: absolute;
    bottom: 0px;
    height: 113px;
    background-image: url("../imagenes/mario.png");
    width: 100%;
    background-repeat: no-repeat;
}

#base{
    position: absolute;
    bottom: 0px;
    height: 14px;
    background-image: url("../imagenes/base.png");
    width: 100%;
}